# OpenAI API configuration
OPENAI_API_KEY=your_openai_key

# Slack notifications
SLACK_WEBHOOK_URL=your_slack_webhook

# Streamlit dashboard
STREAMLIT_PASSWORD=your_dashboard_password

# Google Custom Search API (for finding specific articles)
GOOGLE_SEARCH_API_KEY=AIzaSyDqTqgxoCS6cMgYiQ4BV0M_UPbY1KSDEo8
GOOGLE_SEARCH_ENGINE_ID=e4388368728b74eb5

# ScrapingBee API (for JS-heavy sites)
SCRAPINGBEE_API_KEY=URXXGDZV1Z0U5T067SXVXSNS2SRONINFJA1KUTE4JMACS70B5G7702RMFG8I1JD3VEYHZE63972R8K57 